###**Q1**.  Use [Lucidchart](https://sjsu.edu/it/services/applications/lucidchart.php) to create an Entity Relationship Diagram (ERD) for the following tables representing a customer order tracking system:

Tables and fields:
1. product:
    - product_id: INTEGER (Primary key)
    - name: TEXT not null
    - price: REAL


2. customer:
    - customer_id: INTEGER (Primary key)
    - name: TEXT not null
    - email: TEXT not null


3. purchase_order:
    - order_id: INTEGER (Primary key)
    - customer_id: INTEGER (Foreign key)
    - date: TEXT not null ("YYYY-MM-DD")


4. order_item:
    - order_id: INTEGER (Foreign key)
    - product_id: INTEGER (Foreign key)
    - quantity: INTEGER
    


Export the ERD as PDF and submit it in Canvas.

###**Q2**. Create SQLite tables and load data
1. Here are the csv files for the data for the four tables:
   - product: https://raw.githubusercontent.com/csbfx/cs133/main/product.csv
   - customer: https://raw.githubusercontent.com/csbfx/cs133/main/customer.csv
   - order_item: https://raw.githubusercontent.com/csbfx/cs133/main/order_item.csv
   - purchase_order: https://raw.githubusercontent.com/csbfx/cs133/main/purchase_order.csv
2. In this notebook, create the database and save it in a file called `store.db`, and create the four tables as described above.
3. Load the data in the csv files into the corresponding table.
4. Commit so that the data loaded to the tables to officially written to the tables.
5. Execute a query SELECT * from each table to make sure the data are properly loaded.
6. Execute a query using SELECT statement that queries with JOIN tables to find the purchase date, the products and quantities that a particular customer has purchased.

In [ ]:
# 2.2 Create the database and save it in a file called store.db, and create the four tables as described above.
# Your code here . . .

import sqlite3
import pandas as pd

# Create a SQLite database and connect to it
conn = sqlite3.connect('store.db')
cursor = conn.cursor()

# 2.2 Create the tables
cursor.execute('''
CREATE TABLE IF NOT EXISTS product (
    product_id INTEGER PRIMARY KEY,
    name TEXT NOT NULL,
    price REAL NOT NULL
)
''')
cursor.execute('''
CREATE TABLE IF NOT EXISTS customer (
    customer_id INTEGER PRIMARY KEY,
    name TEXT NOT NULL,
    email TEXT NOT NULL
)
''')
cursor.execute('''
CREATE TABLE IF NOT EXISTS purchase_order (
    order_id INTEGER PRIMARY KEY,
    customer_id INTEGER NOT NULL,
    date TEXT NOT NULL,
    FOREIGN KEY (customer_id) REFERENCES customer (customer_id)
)
''')
cursor.execute('''
CREATE TABLE IF NOT EXISTS order_item (
    order_id INTEGER NOT NULL,
    product_id INTEGER NOT NULL,
    quantity INTEGER NOT NULL,
    FOREIGN KEY (order_id) REFERENCES purchase_order (order_id),
    FOREIGN KEY (product_id) REFERENCES product (product_id)
)
''')

In [ ]:
# 2.3 Load the data in the csv files into the corresponding table.
# Your code here . . .

# Product data
product_data = [
    (0, "bicycle", 400),
    (1, "helmet", 45),
    (2, "gloves", 23),
    (3, "chain", 48)
]
cursor.executemany("INSERT INTO product VALUES (?, ?, ?)", product_data)

# Customer data
customer_data = [
    (0, "Wendy Lee", "wlee@bike.com"),
    (1, "Jason Brown", "jb@speed.com"),
    (2, "Harry Potter", "hp@hogwarts.edu"),
    (3, "Godric Gryffindor", "gg@hogwards.edu")
]
cursor.executemany("INSERT INTO customer VALUES (?, ?, ?)", customer_data)

# Purchase order data
purchase_order_data = [
    (0, 0, "2020-10-19"),
    (1, 0, "2020-10-20"),
    (2, 1, "2020-10-20")
]
cursor.executemany("INSERT INTO purchase_order VALUES (?, ?, ?)", purchase_order_data)

# Order item data
order_item_data = [
    (0, 0, 1),
    (0, 1, 1),
    (1, 2, 2),
    (1, 3, 1)
]
cursor.executemany("INSERT INTO order_item VALUES (?, ?, ?)", order_item_data)

In [ ]:
# 2.4 Commit so that the data loaded to the tables to officially written to the tables.
# Your code here . . .

conn.commit()

In [ ]:
# 2.5 Execute a query SELECT * from each table to make sure the data are properly loaded.
# Your code here . . .

tables = ["product", "customer", "purchase_order", "order_item"]
table_data = {}
for table in tables:
    cursor.execute(f"SELECT * FROM {table}")
    table_data[table] = cursor.fetchall()

In [ ]:
# 2.6 Execute a query using SELECT statement that queries with JOIN tables to find the purchase date,
#    the products and quantities that a particular customer has purchased.
# Query 1: ???
# Query 2: ???
# Your code here . . .

query = '''
SELECT
    customer.name AS customer_name,
    purchase_order.date AS purchase_date,
    product.name AS product_name,
    order_item.quantity
FROM customer
JOIN purchase_order ON customer.customer_id = purchase_order.customer_id
JOIN order_item ON purchase_order.order_id = order_item.order_id
JOIN product ON order_item.product_id = product.product_id
WHERE customer.name = "Wendy Lee"
'''
cursor.execute(query)
purchase_details = cursor.fetchall()

In [ ]:
# Additional tasks
# Appending a new row to one of the tables
# Deleting row(s) with "XXX"

conn.close()

table_data, purchase_details

({'product': [(0, 'bicycle', 400.0),
   (1, 'helmet', 45.0),
   (2, 'gloves', 23.0),
   (3, 'chain', 48.0)],
  'customer': [(0, 'Wendy Lee', 'wlee@bike.com'),
   (1, 'Jason Brown', 'jb@speed.com'),
   (2, 'Harry Potter', 'hp@hogwarts.edu'),
   (3, 'Godric Gryffindor', 'gg@hogwards.edu')],
  'purchase_order': [(0, 0, '2020-10-19'),
   (1, 0, '2020-10-20'),
   (2, 1, '2020-10-20')],
  'order_item': [(0, 0, 1), (0, 1, 1), (1, 2, 2), (1, 3, 1)]},
 [('Wendy Lee', '2020-10-19', 'bicycle', 1),
  ('Wendy Lee', '2020-10-19', 'helmet', 1),
  ('Wendy Lee', '2020-10-20', 'gloves', 2),
  ('Wendy Lee', '2020-10-20', 'chain', 1)])